# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
backend/node_modules/
frontend/node_modules/

# Optional npm cache directory
.npm

#Kairos config
backend/kairos.json

#DS_STORE
.DS_Store
